<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
  <testsuites>
    <testsuite name="Protobuf-PHP test suite">
      <directory suffix="spec.php">./tests</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory>./</directory>
      <exclude>
        <directory>./man</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
